
@font-face {
  font-family:"Jelly-Bean-Script";
  src: url('../font/JellyBean/Jelly-Bean-Script.ttf'),
          url('../font/JellyBean/jelly-bean-script.eot?'),
          url('../font/JellyBean/jelly-bean-script.woff'),
          url('../font/JellyBean/jelly-bean-script.woff2'),
          url('../font/JellyBean/jelly-bean-script.svg');
  font-weight: normal;
}

@font-face {
    font-family:"Champagne";
    src: url('../font/Champagne/champagne-limousines.ttf'),
    url('../font/Champagne/champagne-limousines.eot?'),
    url('../font/Champagne/champagne-limousines.woff'),
    url('../font/Champagne/champagne-limousines.woff2'),
    url('../font/Champagne/champagne-limousines.svg');
    font-weight: normal;
}

@font-face {
    font-family:"caviardreams";
    src: url('../font/CaviarDreams/caviardreams.ttf'),
    url('../font/CaviarDreams/caviardreams.eot?'),
    url('../font/CaviarDreams/caviardreams.woff'),
    url('../font/CaviarDreams/caviardreams.woff2'),
    url('../font/CaviarDreams/caviardreams.svg');
    font-weight: normal;
}

.jellybean {
  font-family: "Jelly-Bean-Script";
}

.champagne {
     font-family: "Champagne";
 }

.caviardreams {
    font-family: "caviardreams";
}

.bg-projet {
  background-color: #CDD4D6;
}