
@font-face {
  font-family:"Jelly-Bean-Script";
  src: url('../font/JellyBean/Jelly-Bean-Script.ttf'),
          url('../font/JellyBean/jelly-bean-script.eot?'),
          url('../font/JellyBean/jelly-bean-script.woff'),
          url('../font/JellyBean/jelly-bean-script.woff2'),
          url('../font/JellyBean/jelly-bean-script.svg');
  font-weight: normal;
}


@font-face {
  font-family:"funsized";
  src: url('../font/funsized/funsized.ttf'),
          url('../font/funsized/funsized.eot?'),
          url('../font/funsized/funsized.woff'),
          url('../font/funsized/funsized.woff2'),
          url('../font/funsized/funsized.svg');
  font-weight: normal;
}

@font-face {
  font-family:"sketch";
  src: url('../font/sketch/sketch.ttf'),
          url('../font/sketch/sketch.eot?'),
          url('../font/sketch/sketch.woff'),
          url('../font/sketch/sketch.woff2'),
          url('../font/sketch/sketch.svg');
  font-weight: normal;
}

@font-face {
  font-family:"york";
  src: url('../font/york/york.ttf'),
          url('../font/york/york.eot?'),
          url('../font/york/york.woff'),
          url('../font/york/york.woff2'),
          url('../font/york/york.svg');
  font-weight: normal;
}

@font-face {
  font-family:"djbchalk";
  src: url('../font/djbchalk/djbchalk.ttf'),
          url('../font/djbchalk/djbchalk.eot?'),
          url('../font/djbchalk/djbchalk.woff'),
          url('../font/djbchalk/djbchalk.woff2'),
          url('../font/djbchalk/djbchalk.svg');
  font-weight: normal;
}

@font-face {
    font-family:"Champagne";
    src: url('../font/Champagne/champagne-limousines.ttf'),
    url('../font/Champagne/champagne-limousines.eot?'),
    url('../font/Champagne/champagne-limousines.woff'),
    url('../font/Champagne/champagne-limousines.woff2'),
    url('../font/Champagne/champagne-limousines.svg');
    font-weight: normal;
}

@font-face {
    font-family:"caviardreams";
    src: url('../font/CaviarDreams/caviardreams.ttf'),
    url('../font/CaviarDreams/caviardreams.eot?'),
    url('../font/CaviarDreams/caviardreams.woff'),
    url('../font/CaviarDreams/caviardreams.woff2'),
    url('../font/CaviarDreams/caviardreams.svg');
    font-weight: normal;
}

.jellybean {
  font-family: "Jelly-Bean-Script";
}

.champagne {
     font-family: "Champagne";
 }

 .sketch {
     font-family: "sketch";
 }

.caviardreams {
    font-family: "caviardreams";
}

.djbchalk {
    font-family: "djbchalk";
}

.funsized {
    font-family: "funsized";
}

.york {
    font-family: "york";
}

.bg-projet {
  background-color: #CDD4D6;
}

/* MODALS PROJETS */

/* Style the Image Used to Trigger the Modal */
#arcenciel {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#arcenciel:hover {opacity: 0.7;}

/* Style the Image Used to Trigger the Modal */
#carrefour {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#carrefour:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.jumbotronCV {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #cbd2d4;
  border-radius: 0.3rem;
}

.border2 {
  border: 10px solid #dee2e6 !important;
}

.border-light2 {
  border-color: white !important;
}