html {
    position: relative;
    min-height: 100%;
}

@font-face {
  font-family:"Jelly-Bean-Script";
  src: url('../font/JellyBean/Jelly-Bean-Script.ttf'),
          url('../font/JellyBean/jelly-bean-script.eot?'),
          url('../font/JellyBean/jelly-bean-script.woff'),
          url('../font/JellyBean/jelly-bean-script.woff2'),
          url('../font/JellyBean/jelly-bean-script.svg');
  font-weight: normal;
}


@font-face {
  font-family:"funsized";
  src: url('../font/funsized/funsized.ttf'),
          url('../font/funsized/funsized.eot?'),
          url('../font/funsized/funsized.woff'),
          url('../font/funsized/funsized.woff2'),
          url('../font/funsized/funsized.svg');
  font-weight: normal;
}

@font-face {
  font-family:"sketch";
  src: url('../font/sketch/sketch.ttf'),
          url('../font/sketch/sketch.eot?'),
          url('../font/sketch/sketch.woff'),
          url('../font/sketch/sketch.woff2'),
          url('../font/sketch/sketch.svg');
  font-weight: normal;
}

@font-face {
  font-family:"york";
  src: url('../font/york/york.ttf'),
          url('../font/york/york.eot?'),
          url('../font/york/york.woff'),
          url('../font/york/york.woff2'),
          url('../font/york/york.svg');
  font-weight: normal;
}

@font-face {
  font-family:"djbchalk";
  src: url('../font/djbchalk/djbchalk.ttf'),
          url('../font/djbchalk/djbchalk.eot?'),
          url('../font/djbchalk/djbchalk.woff'),
          url('../font/djbchalk/djbchalk.woff2'),
          url('../font/djbchalk/djbchalk.svg');
  font-weight: normal;
}

@font-face {
    font-family:"Champagne";
    src: url('../font/Champagne/champagne-limousines.ttf'),
    url('../font/Champagne/champagne-limousines.eot?'),
    url('../font/Champagne/champagne-limousines.woff'),
    url('../font/Champagne/champagne-limousines.woff2'),
    url('../font/Champagne/champagne-limousines.svg');
    font-weight: normal;
}

@font-face {
    font-family:"caviardreams";
    src: url('../font/CaviarDreams/caviardreams.ttf'),
    url('../font/CaviarDreams/caviardreams.eot?'),
    url('../font/CaviarDreams/caviardreams.woff'),
    url('../font/CaviarDreams/caviardreams.woff2'),
    url('../font/CaviarDreams/caviardreams.svg');
    font-weight: normal;
}

.jellybean {
  font-family: "Jelly-Bean-Script";
}

.champagne {
     font-family: "Champagne";
 }

 .sketch {
     font-family: "sketch";
 }

.caviardreams {
    font-family: "caviardreams";
}

.djbchalk {
    font-family: "djbchalk";
}

.funsized {
    font-family: "funsized";
}

.york {
    font-family: "york";
}

.bg-projet {
  background-color: #CDD4D6;
}

/* MODALS PROJETS */

/* Style the Image Used to Trigger the Modal */
.imgprojet {
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.jumbotronCV {
  padding: 2rem 1rem;
  background-color: #555b61;
  border-radius: 0.3rem;
}

.border2 {
  border: 10px solid #dee2e6 !important;
}

.border-light2 {
  border-color: white !important;
}

html {
  scroll-behavior: smooth;
}

a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}

.progress-bar-striped2 {
  background-image: linear-gradient(45deg, rgba(110, 115, 120, 0.15) 25%, transparent 25%, transparent 50%, rgba(110, 115, 120, 0.15) 50%, rgba(110, 115, 120, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.border-bottom2 {
  border-bottom: 2px solid #555b61 !important;
}

.border-top2 {
  border-top: 2px solid #555b61 !important;
}

.border-presentation {
  border: 10px solid white !important;
}

.border-dev {
  border: 3px solid white !important;
}

.bg-img {
  background-image: url('../img/bghead2.jpg'); 
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-img2 {
  background-image: url('../img/bghead2.jpg'); 
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.titrewebdev {
  font-size:6vw;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.dispositionlogohead {
  margin-top: 14vw;
}

.logohead {
  font-size:4vw;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}


.progress-barcompetence {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.progresscompetence {
  display: -ms-flexbox;
  display: flex;
  height: 2rem ;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #b7bdbf;
  border-radius: 0.25rem;
}

.titre {
  text-transform: uppercase;
  font-weight:normal;
  font-size : 28pt;
  font-family:'lato',sans serif;
  margin-bottom: -10px;
  color:#555b61;
  margin-top: 50px;
}

.textepresentation {
  font-size: 13pt;
  margin-left: 2%;
  margin-right: 2%;
  color:white;
}

.textecompetence {
  font-size: 13pt;
}

.textecompetence2 {
  font-size: 16pt;
  margin-bottom: 0px
}

.iconecompetence {
  font-size: 22pt;
}
/*Titre des card des projets*/
.titreprojet{
  text-transform: uppercase;
  font-weight:600;
  font-size : 17px;
  font-family:'lato',sans serif;
  color:#555b61;
  margin-top: 10px;
}

.titreprojet:hover{
  color:#507fe2;
  text-decoration: none;
}
/*"Téléchargement"*/
.titrecv {
  font-size: 40pt;
}

.dispositioncompetence {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 2%;
}

.dispositionpresentation {
  margin-bottom: 1.7rem;
}

.texteveilles{
  font-size: 15pt;
}

.taillehead {
  height:100vh;
min-height:100vh;
}
 .middlesection {
  width:1240px;
  margin:auto;
 }
@media screen and (max-width: 992px) {
  .middlesection {
  width:100%;
 }
  .taillehead {
  height: 115vw;"
  }
  .dispositionlogohead {
  margin-top: 50vw;
  }
  .texteveilles{
  font-size: 110%;
}
  .bg-img {
  background-image: url('../img/bghead2.jpg'); 
  background-attachment: none;
  background-repeat: no-repeat;
  background-size: auto 140vw; 
  }
  .bg-img2 {
  background-image: url('../img/bghead2.jpg'); 
  background-attachment: none;
  background-repeat: no-repeat;
  background-size: auto 100%; 
  }
  .dispositionprojet {
    padding-right: 0rem;
    padding-left: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .titreprojet{
    font-size: 130%;
  }
  .dispositionpresentation {
  margin-bottom: 0rem;
  }
  .dispositioncompetence {
  padding-right: 0rem;
  padding-left: 0rem;
  margin-bottom: -20%;
  }
  .titrecv {
    font-size: 8vw;
  }
  .titre {
    font-size: 10vw;
  }
  .titrewebdev {
    font-size: 8vw;
  }

  .logohead {
    font-size: 6vw;
  }

/*  .navtext {
    color:white;
  }*/
  .textepresentation {
    font-size: 100%;
    margin-left: 2%;
    margin-right: 2%;
    color:white;
  }
  .texteprojet {
    font-size: 110%;
  }
  .textecompetence {
    font-size: 110%;
  }
  .textecompetence2 {
  font-size: 1.4rem;
  }
  .iconecompetence {
  font-size: 175%;
  }
}

.list-group-item2 {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-flush2 .list-group-item2 {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush2:first-child .list-group-item2:first-child {
  border-top: 0;
}

.list-group-flush2:last-child .list-group-item2:last-child {
  border-bottom: 0;
}

.navbar-nav .nav-link {
  color: black;
}

/*.nav1 {
  background-color: white;
}

.nav2 {
  background-color: white;
}

.navbar-toggler2 {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.25rem;
}

.navbar-toggler2:hover, .navbar-toggler2:focus {
  text-decoration: none;
}

.navbar-toggler2:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-iconwhite {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-iconblack {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
*/
.equal {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}
.equal > [class*='col-'] {
  width: 100%;
  height:300px;
  padding:0;
}

.projetcol  {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}
.projetcol  > [class*='col-'] > .shadow-lg{
  width: 100%;
  height:auto;
  margin:0;
  padding:0;
}

.cvimg{
  max-width: 40%;
   -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cvimg:hover {
  transform: scale(0.9);
}

.linkveille {
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  font-size: 18pt;
}

.linkveille:hover{
  color:#507fe2;
  text-decoration: none;
}

.btn-contact {
  border-style: solid;
  border-width: 2px;
  border-color:#507fe2; 
  border-radius: 6px;
  background-color: transparent;
  color:#507fe2;
  width:100%;
  height:50px;
  font-size: 17px;
  cursor:pointer;
}
.btn-contact:hover {
  background-color: #555b61;
  color:white;
  border: 2px solid #555b61;
  text-decoration: none;
}

.p-10 {
  padding: 25px 
}
.imgprojet {
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.containerprojet {
  background:black;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  padding: 20px;
}
.containerprojet:hover .imgprojet {
  opacity: 0.3;
}
.containerprojet:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 14px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight:500;
  font-family:'lato',sans serif;
  color:white;
}

.btn-projet {
  border-style: solid;
  border-width: 2px;
  border-color:white; 
  border-radius: 6px;
  background-color: transparent;
  color:white;
  width:100%;
  height:50px;
  font-size: 17px;
  cursor:pointer;
}
.btn-projet:hover {
  background-color: #555b61;
  color:white;
  border: 2px solid #555b61;
  text-decoration: none;
}